/* #region Glowing Button */
.glow-on-hover {
  position: relative;
  isolation: isolate;
}

.glow-on-hover::before {
  content: '';
  position: absolute;
  inset: -2px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size: 400%;
  filter: blur(6px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: glowing 20s linear infinite;
}

.glow-on-hover:hover::before,
.glow-on-hover:focus-visible::before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* #endregion Glowing Button */
